.t-text{
    font-weight: 900;
}
.logo{
    font-family: 'Shadows Into Light', cursive;
    font-size: 26px;
}
// .space{
//     margin-left: 10px;
//     margin-right: 10px;
// }
// .spac{
//     margin-right: 10px;
// }
// .tabe::-webkit-scrollbar{
//     display: none;

// }